@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #CEF09D;
}

main {
    padding: 16px;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-bottom: 8px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1C646D;
    padding: 16px;
    color: #A0CD60;
}

img {
    height: 200px;
    border: solid black 1px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #38184C;
    color: #A0CD60;
    padding: 16px;
}

.green-text {
    color: #A0CD60;
}

.green-text:hover {
    color: #1C646D;
}

a {
    text-decoration: none;
    color: #1C646D;
    cursor: pointer;
}

table {
    background-color: white;
    border: solid black 2px;
    border-collapse: collapse;
}

thead {
    border: solid black 2px;
}

td {
    text-align: left;
    padding-left: 5px;
    padding-right: 40px;
    border-left: solid black 2px;
}

tr:nth-child(even) {
    background: lightgrey;
}

th {
    text-align: left;
    padding-right: 40px;
    padding-left: 5px;
    border-left: solid black 2px;
}

a:hover {
    color: #38184C;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    max-width: 800px;
}

.shadow-transition:hover{
    transition: all 0.25s linear;
    box-shadow: 0px 0px 5px #38184C;
}
